Repository henryperkins/agent-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

.lintstagedrc.json:

{
  "backend/**/*.ts": [
    "bash -lc 'cd backend && pnpm lint --fix'"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -lc 'cd frontend && pnpm lint --fix'"
  ],
  "**/*.{md,json,yml,yaml}": [
    "prettier --write"
  ]
}

fix: remove deprecated husky.sh lines from pre-push hook
  .husky/pre-push
Due: none

up
  CHANGELOG.md
  COMPREHENSIVE_AUDIT_REPORT_2025.md
  DOCUMENTATION_AUDIT_REFINED.md
  backend/BUGFIX_RESPONSE_STORAGE.md
  backend/src/azure/directSearch.ts
  backend/src/config/app.ts
  backend/src/orchestrator/index.ts
  backend/src/tests/orchestrator.test.ts
  backend/src/tools/index.ts
  docs/AUDIT_VERIFICATION_2025-10-04.md
  docs/CODEBASE_AUDIT_2025-10-04.md
  docs/CODEBASE_DOCUMENTATION_ALIGNMENT_PLAN.md
  docs/CURRENTLY_WORKING_FEATURES.md
  docs/IMPLEMENTATION_ASSESSMENT.md
  docs/IMPLEMENTED_VS_PLANNED.md
  docs/agentic-rag-enhancements.md
  docs/backend-fixes.md
  docs/codebase-review-summary.md
  docs/implementation-roadmap.md
  frontend/SECURITY_FIX_XSS.md
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/PlanPanel.tsx
  frontend/src/components/SourcesPanel.tsx
  frontend/src/hooks/useChatStream.ts
  pnpm-lock.yaml
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

up
  README.md
  backend/package.json
  backend/src/azure/multiIndexSearch.ts
  backend/src/config/app.ts
  backend/src/orchestrator/memoryStore.ts
  backend/src/routes/documents.ts
  backend/src/routes/index.ts
  backend/src/routes/sessions.ts
  backend/src/services/chatStreamService.ts
  backend/src/services/enhancedChatService.ts
  backend/src/services/sessionStore.ts
  backend/src/tools/documentProcessor.ts
  backend/src/tools/index.ts
  docs/COMPREHENSIVE_AUDIT_REPORT.md
  docs/IMPLEMENTED_VS_PLANNED.md
  docs/INDEX.md
  docs/NEXT_STEPS_GUIDE.md
  docs/PRIORITIZED_ACTION_PLAN.md
  docs/ROADMAP.md
  docs/TODO.md
  docs/VERIFICATION_SUMMARY.md
  docs/architecture-map.md
  docs/azure-component-enhancements.md
  docs/enhancement-implementation-guide.md
  docs/enhancement-implementation-plan.md
  docs/feature-toggle-plan.md
  docs/liner-comparison-analysis.md
  docs/quickstart-pdf-upload.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DocumentUpload.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatStream.ts
  pnpm-lock.yaml
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

fix: remove JSON files from .gitignore
  .gitignore
Due: none

fix: resolve Azure configuration issues and add troubleshooting documentation
  backend/.env.example
  backend/src/azure/directSearch.ts
  backend/src/azure/lazyRetrieval.ts
  backend/src/azure/multiIndexSearch.ts
  backend/src/config/app.ts
  backend/src/config/features.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/router.ts
  backend/src/orchestrator/sessionTelemetryStore.ts
  backend/src/orchestrator/summarySelector.ts
  backend/src/routes/chatStream.ts
  backend/src/routes/index.ts
  backend/src/services/chatStreamService.ts
  backend/src/services/enhancedChatService.ts
  backend/src/services/sessionStore.ts
  backend/src/tests/dispatch.test.ts
  backend/src/tests/features.test.ts
  backend/src/tests/orchestrator.integration.test.ts
  backend/src/tools/documentProcessor.ts
  backend/src/tools/index.ts
  docs/CODEBASE_AUDIT_2025-10-10-REVISED.md
  docs/INDEX.md
  docs/TODO.md
  docs/TROUBLESHOOTING.md
  docs/feature-toggle-plan.md
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/FeatureTogglePanel.tsx
  frontend/src/components/PlanPanel.tsx
  frontend/src/components/__tests__/FeatureTogglePanel.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/types.ts
  frontend/vite.config.ts
  frontend/vitest.setup.ts
  pnpm-lock.yaml
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

docs: update CLAUDE.md with v2.0.2 changes and troubleshooting guide
  CLAUDE.md
Due: prettier --write

up
  CLAUDE.md
  docs/CODEBASE_AUDIT_2025-10-10-REVISED.md
  docs/TODO.md
Due: prettier --write

fix: correct Azure Search coverage threshold scale mismatch
  2025-10-11-this-session-is-being-continued-from-a-previous-co.txt
  CLAUDE.md
  backend/.env.example
  backend/src/azure/adaptiveRetrieval.ts
  backend/src/azure/directSearch.ts
  backend/src/azure/searchStats.ts
  backend/src/config/app.ts
  backend/src/config/features.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/sessionTelemetryStore.ts
  backend/src/routes/index.ts
  backend/src/tests/adaptiveRetrieval.integration.test.ts
  backend/src/tests/searchStats.test.ts
  backend/src/tests/tools.test.ts
  backend/src/tools/index.ts
  docs/CODEBASE_AUDIT_2025-10-10-REVISED.md
  docs/TODO.md
  docs/azure-component-enhancements.md
  frontend/src/App.tsx
  frontend/src/components/AdminStatsCard.tsx
  frontend/src/components/FeatureTogglePanel.tsx
  frontend/src/components/PlanPanel.tsx
  frontend/src/hooks/useChatStream.ts
  search-api-schema.json
  searchservice-preview.json
  shared/types.ts
  tsconfig.base.json
  v1preview.json
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

feat: implement API optimization quick wins (50-65% cost reduction)
  backend/src/config/app.ts
  frontend/src/App.css
  frontend/src/components/SourcesPanel.tsx
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix'

feat: implement multi-source academic search (Semantic Scholar + arXiv)
  backend/package.json
  backend/src/config/app.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/tests/multiSourceWeb.test.ts
  backend/src/tools/multiSourceWeb.ts
  pnpm-lock.yaml
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  agent-rag-monorepo@
  backend/.env.example
  backend/src/config/app.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/CRAG.test.ts
  backend/src/tests/tools.test.ts
  concurrently
  docs/CODEBASE_AUDIT_2025-10-10-REVISED.md
  docs/IMPLEMENTATION_PROGRESS.md
  docs/IMPLEMENTED_VS_PLANNED.md
  docs/ROADMAP.md
  docs/TODO.md
  package.json
  pnpm-lock.yaml
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  NETWORK_DIAGNOSTIC_RESULTS.md
  backend/data/session-store.db
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/package.json
  backend/src/config/app.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/index.ts
  frontend/package.json
  frontend/public/test-fetch.html
  frontend/src/hooks/useChatStream.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

up
  backend/data/semantic-memory.db
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/azure/directSearch.ts
  backend/src/azure/lazyRetrieval.ts
  backend/src/tests/CRAG.test.ts
  docs/COMPREHENSIVE_AUDIT_REPORT_2025-10-18.md
  docs/COMPREHENSIVE_AUDIT_REPORT_2025-10-18_FINAL.md
  docs/audit-report.md
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  CLAUDE.md
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/azure/indexSetup.ts
  backend/src/azure/openaiClient.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/queryDecomposition.ts
  backend/src/orchestrator/router.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/session.test.ts
  backend/src/tools/index.ts
  backend/src/utils/session.ts
  docs/BUG_FIX_2025-10-18.md
  docs/DOCUMENTATION_CLEANUP_SUMMARY.md
  docs/INDEX.md
  docs/PRIORITIZED_ACTION_PLAN.md
  docs/ROADMAP.md
  docs/TODO.md
  docs/archive/ARCHIVE.md
  docs/archive/AZURE_ENHANCEMENTS_PLAN.md
  docs/archive/CITATION_TRACKING_SUMMARY.md
  docs/archive/COMPREHENSIVE_AUDIT_REPORT.md
  docs/archive/COMPREHENSIVE_AUDIT_REPORT_2025-10-18.md
  docs/archive/COMPREHENSIVE_AUDIT_REPORT_2025-10-18_FINAL.md
  docs/archive/MANAGED_IDENTITY_FIX.md
  docs/archive/NEXT_STEPS_GUIDE.md
  docs/archive/QUICK_START_CITATION_TRACKING.md
  docs/archive/TEST_FIXES_SUMMARY.md
  docs/archive/VERIFICATION_SUMMARY.md
  docs/archive/WEB_QUALITY_FILTERING_SUMMARY.md
  docs/archive/WEB_QUALITY_FILTER_OPTIMIZATION.md
  docs/archive/audit-report.md
  docs/audit-report-corrected.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  docs/WEB_SEARCH_CONFIGURATION.md
Due: prettier --write

fix: resolve test mock issues and timeout failures
  backend/src/orchestrator/index.ts
  backend/src/tests/dispatch.test.ts
  backend/src/tests/orchestrator.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

chore: add .env.backup* pattern to .gitignore
  .gitignore
Due: none

up
  backend/data/session-store.db
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
Due: none

fix: resolve streaming UI issues in frontend
  frontend/src/App.tsx
  frontend/src/components/MessageList.tsx
Due: bash -lc 'cd frontend && pnpm lint --fix'

chore: add database files to .gitignore
  .gitignore
Due: none

fix: increase timeout for adaptive retrieval integration test
  backend/src/tests/adaptiveRetrieval.integration.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

docs: update implementation status and test counts
  docs/IMPLEMENTATION_PROGRESS.md
  docs/TODO.md
Due: prettier --write

docs: create Phase 2 implementation plan for action items 5-7
  docs/INDEX.md
  docs/PHASE_2_IMPLEMENTATION_PLAN.md
  docs/TODO.md
Due: prettier --write

up
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
Due: none

fix: v2.0.4 hotfix - critic prompt, lazy retrieval logging, and telemetry
  backend/src/azure/lazyRetrieval.ts
  backend/src/orchestrator/critique.ts
  backend/src/orchestrator/dispatch.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

chore: record no-op update (no code changes)
  .amazonq/rules/memory-bank/guidelines.md
  .amazonq/rules/memory-bank/product.md
  .amazonq/rules/memory-bank/structure.md
  .amazonq/rules/memory-bank/tech.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(env): add backend/.env.test with test environment configuration
  backend/.env.test
  backend/package.json
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/index.ts
  backend/src/tests/CRAG.test.ts
  backend/src/tests/multiSourceWeb.test.ts
  backend/src/tests/orchestrator.integration.test.ts
  backend/src/tests/orchestrator.test.ts
  backend/src/tools/index.ts
  backend/src/tools/multiSourceWeb.ts
  backend/src/tools/webQualityFilter.ts
  pnpm-lock.yaml
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/src/tests/orchestrator.integration.test.ts
  docs/AZURE_FOUNDRY_MCP_INTEGRATION.md
  docs/INDEX.md
  docs/UNIFIED_ROADMAP_2025.md
  docs/UNIFIED_ROADMAP_SUMMARY.md
  ovhcloudkey.pem
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
Due: none

Merge web results into citations
  backend/src/orchestrator/index.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

types
  CLAUDE.md
  backend/.env.example
  backend/.env.test
  backend/data/semantic-memory.db-shm
  backend/data/session-store.db
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/azure/adaptiveRetrieval.ts
  backend/src/azure/openaiClient.ts
  backend/src/config/app.ts
  backend/src/middleware/sanitize.ts
  backend/src/orchestrator/index.ts
  backend/src/routes/index.ts
  backend/src/server.ts
  backend/src/tests/sanitize.test.ts
  backend/src/tools/index.ts
  frontend/src/hooks/useChatStream.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

add MCP filesystem config; increase model output limits; refine OpenAI client, telemetry, and docs
  .roo/mcp.json
  CLAUDE.md
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/agents/critic.ts
  backend/src/azure/adaptiveRetrieval.ts
  backend/src/azure/openaiClient.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/compact.ts
  backend/src/orchestrator/critique.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/plan.ts
  backend/src/orchestrator/queryDecomposition.ts
  backend/src/orchestrator/sessionTelemetryStore.ts
  backend/src/tests/CRAG.test.ts
  backend/src/tests/documentProcessor.test.ts
  backend/src/tests/sessionTelemetryStore.test.ts
  backend/src/tools/documentProcessor.ts
  backend/src/tools/index.ts
  docs/ROADMAP.md
  docs/TODO.md
  docs/UNIFIED_ROADMAP_2025.md
  docs/audit-report-corrected.md
  frontend/src/App.tsx
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

add forced critic flag and robust retrieval fallbacks
  backend/data/session-store.db
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/orchestrator/critique.ts
  backend/src/orchestrator/index.ts
  backend/src/tools/index.ts
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/azure/directSearch.ts
  backend/src/orchestrator/telemetry.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

add query quality validator, index inspector script, and diagnostic reranker report; remove session-store WAL/SHM binaries
  backend/data/session-store.db-shm
  backend/data/session-store.db-wal
  backend/src/orchestrator/queryValidator.ts
  backend/src/scripts/inspectIndex.ts
  docs/DIAGNOSTIC_REPORT_RERANKER_SCORES.md
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  frontend/.claude/agents/citation-stream-expert.md
  frontend/src/App.tsx
  frontend/src/components/ActivityPanel.tsx
  frontend/src/components/CitationPill.tsx
  frontend/src/components/MessageList.tsx
  frontend/src/components/MetricCard.tsx
  frontend/src/components/ProgressBar.tsx
  frontend/src/components/SessionHealthDashboard.tsx
  frontend/src/components/SourcesPanel.tsx
  frontend/src/components/TelemetryDrawer.tsx
  frontend/src/hooks/useChatStream.ts
  frontend/src/styles/components.css
  frontend/src/styles/design-system.css
  frontend/src/types.ts
  frontend/src/utils/__tests__/citationParser.test.tsx
  frontend/src/utils/citationParser.tsx
  frontend/src/utils/telemetryTransform.ts
Due: bash -lc 'cd frontend && pnpm lint --fix', prettier --write

up
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write
