Repository henryperkins/agent-rag: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

chore: add AZURE_AGENT_SERVICE_SETUP.md to .gitignore to prevent future exposure
  .gitignore
  AZURE_AGENT_SERVICE_SETUP.md
Due: prettier --write

up
  AZURE_AGENT_NEXT_STEPS.md
Due: prettier --write

up
  AZURE_FOUNDRY_MCP_TEST_REPORT.md
  Aacss.pdf
  Intent.heic
  Intent2.heic
  backend/.env.example
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db
  backend/src/config/app.ts
  backend/src/config/reasoning.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/router.ts
  docs/TROUBLESHOOTING.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/MessageList.tsx
  frontend/src/hooks/useChatStream.ts
  frontend/src/styles/components.css
  frontend/src/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

up
  backend/src/tests/orchestrator.integration.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/src/tests/CRAG.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix: resolve CRAG evaluation JSON parsing error
  CRAG_FIX.md
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/CRAG.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

feat: enhance withRetry with dual timeout enforcement (P0)
  TIMEOUT_ENFORCEMENT_ENHANCEMENT.md
  backend/src/tests/lazyRetrieval.test.ts
  backend/src/tests/tools.test.ts
  backend/src/utils/resilience.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  .env.example
  CLAUDE.md
  RELATED_ISSUES.md
  SECRETS_ROTATION.md
  backend/.env.example
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/scripts/cleanup.js
  backend/scripts/cleanup.ts
  backend/scripts/setup.js
  backend/scripts/setup.ts
  backend/src/azure/directSearch.ts
  backend/src/azure/indexSetup.ts
  backend/src/azure/lazyRetrieval.ts
  backend/src/azure/searchStats.ts
  backend/src/config/app.ts
  backend/src/middleware/sanitize.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/scripts/inspectIndex.ts
  backend/src/tests/documentProcessor.test.ts
  backend/src/tests/searchStats.test.ts
  backend/src/tests/webQualityFilter.test.ts
  backend/src/tools/documentProcessor.ts
  backend/src/tools/index.ts
  backend/src/tools/webQualityFilter.ts
  backend/src/tools/webSearch.ts
  backend/src/utils/embeddings.ts
  backend/src/utils/resilience.ts
  docs/CODEBASE_AUDIT_2025-10-10-REVISED.md
  docs/REMEDIATION_SUMMARY.md
  docs/TROUBLESHOOTING.md
  docs/theonlydocthatmatters.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

docs: tidy Markdown and example code formatting in secrets/summary
  backend/data/semantic-memory.db-shm
  backend/data/session-store.db
  backend/src/azure/directSearch.ts
  backend/src/azure/indexSetup.ts
  backend/src/azure/searchAuth.ts
  backend/src/azure/searchHttp.ts
  backend/src/azure/searchStats.ts
  backend/src/config/app.ts
  backend/src/scripts/inspectIndex.ts
  backend/src/tests/documentProcessor.test.ts
  backend/src/tests/indexSetup.agent.test.ts
  backend/src/tools/documentProcessor.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix(azure): handle vector compression conflict, remove unsupported option, and normalize OpenAI query
  backend/src/azure/indexSetup.ts
  backend/src/azure/openaiClient.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix(orchestrator): sanitize planner steps, normalize queries and k, ensure vector_search fallback
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/src/orchestrator/plan.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  .github/copilot-instructions.md
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db
  backend/src/azure/adaptiveRetrieval.ts
  backend/src/azure/indexSetup.ts
  backend/src/azure/knowledgeAgent.ts
  backend/src/azure/openaiClient.ts
  backend/src/azure/searchAuth.ts
  backend/src/azure/searchHttp.ts
  backend/src/config/app.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/CRAG.test.ts
  backend/src/tests/adaptiveRetrieval.integration.test.ts
  backend/src/tests/indexSetup.agent.test.ts
  backend/src/tests/searchStats.test.ts
  backend/src/tools/index.ts
  backend/src/utils/openai.ts
  docs/agentretrieval.md
  docs/createagent.md
  docs/file-tree-map.md
  docs/knowledgeagentrest.md
  docs/openapi.documented.yml
  docs/report.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/src/orchestrator/fastPath.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/data/session-store.db
  backend/src/azure/directSearch.ts
  backend/src/config/app.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/semanticMemoryStore.ts
  backend/src/tests/lazyRetrieval.test.ts
  backend/src/tests/orchestrator.test.ts
  backend/src/tests/reranker-threshold.test.ts
  backend/src/tests/semanticMemoryStore.test.ts
  backend/src/tools/index.ts
  backend/src/utils/reranker-threshold.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/src/azure/adaptiveRetrieval.ts
  backend/src/azure/directSearch.ts
  backend/src/azure/knowledgeAgent.ts
  backend/src/azure/lazyRetrieval.ts
  backend/src/azure/openaiClient.ts
  backend/src/azure/searchHttp.ts
  backend/src/middleware/sanitize.ts
  backend/src/orchestrator/index.ts
  backend/src/orchestrator/sessionTelemetryStore.ts
  backend/src/tests/sessionTelemetryStore.test.ts
  backend/src/tools/index.ts
  backend/src/utils/citation-validator.ts
  backend/src/utils/embeddings.ts
  backend/src/utils/resilience.ts
  backend/src/utils/sanitize-text.ts
  docs/fixes.md
  frontend/index.html
  frontend/src/App.css
  frontend/src/styles/components.css
  frontend/src/styles/design-system.css
  frontend/src/styles/markdown.css
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  CLAUDE.md
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db
  backend/src/config/app.ts
  backend/src/orchestrator/CRAG.ts
  backend/src/orchestrator/critique.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/scripts/inspectIndex.ts
  backend/src/tests/documentProcessor.test.ts
  backend/src/tools/index.ts
  backend/src/tools/webQualityFilter.ts
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/src/orchestrator/schemas.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/.env.example
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/data/session-store.db
  backend/src/azure/indexSetup.ts
  backend/src/azure/knowledgeAgent.ts
  backend/src/azure/searchHttp.ts
  backend/src/config/app.ts
  backend/src/config/features.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/queryDecomposition.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/dispatch.test.ts
  backend/src/tests/multiSourceWeb.test.ts
  backend/src/tests/orchestrator.test.ts
  backend/src/tools/index.ts
  backend/src/tools/multiSourceWeb.ts
  backend/src/tools/webSearch.ts
  backend/src/utils/freshness-detector.ts
  backend/src/utils/result-merger.ts
  docs/BUG_FIXES_2025-10-23.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  AgenticAzureChat.pdf
  AgenticAzureChat.png
  AgenticAzureChat.txt
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/src/auth/tokenManager.ts
  backend/src/azure/directSearch.ts
  backend/src/azure/openaiClient.ts
  backend/src/azure/searchAuth.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/memoryStore.ts
  backend/src/orchestrator/sessionTelemetryStore.ts
  backend/src/orchestrator/summaries/dedupe.ts
  backend/src/orchestrator/summarySelector.ts
  backend/src/orchestrator/telemetry/mapResult.ts
  backend/src/retrieval/selectStrategy.ts
  backend/src/tests/retrievalStrategy.test.ts
  backend/src/tests/summariesDedupe.test.ts
  backend/src/tests/telemetryMapResult.test.ts
  backend/src/tests/tokenManager.test.ts
  backend/src/tools/index.ts
  frontend/src/App.css
  frontend/src/components/ActivityPanel.tsx
  frontend/src/hooks/useChatStream.ts
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix'

up
  backend/src/tests/telemetryMapResult.test.ts
  frontend/src/components/PlanPanel.tsx
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix'

up
  AZURE_RESPONSES_API_ANALYSIS.md
  AZURE_SETUP_SUMMARY.md
  ENV_SETUP_GUIDE.md
  GOOGLE_HYPERBROWSER_SETUP_COMPLETE.md
  KNOWLEDGE_AGENT_SETUP.md
  WEB_SEARCH_READY.md
  WEB_SEARCH_SETUP.md
  backend/mcp-tools.js
  backend/package-lock.json
  backend/src/orchestrator/queryDecomposition.ts
  quick-start.sh
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

Improve orchestrator resilience and test coverage
  backend/src/orchestrator/dispatch.ts
  backend/src/tests/adaptiveRetrieval.integration.test.ts
  backend/src/tests/indexSetup.agent.test.ts
  backend/src/tests/orchestrator.test.ts
  backend/src/utils/resilience.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  backend/.env.example
  backend/data/semantic-memory.db-shm
  backend/data/semantic-memory.db-wal
  backend/mcp-tools.js
  backend/package.json
  backend/src/config/app.ts
  backend/src/config/features.ts
  backend/src/services/sessionStore.ts
  backend/src/tests/sessionStore.test.ts
  backend/src/tests/webSearch.hyperbrowser.test.ts
  backend/src/tools/webSearch.ts
  frontend/src/App.tsx
  frontend/src/components/DocumentUpload.tsx
  frontend/src/config/api.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/utils/telemetry.ts
  pnpm-lock.yaml
  shared/featureFlags.d.ts
  shared/featureFlags.d.ts.map
  shared/featureFlags.js
  shared/featureFlags.js.map
  shared/featureFlags.ts
  shared/package.json
  shared/types.d.ts
  shared/types.d.ts.map
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', bash -lc 'cd frontend && pnpm lint --fix', prettier --write

up
  backend/src/utils/sqlite-utils.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

feat: Add browser agent integration for complex research tasks
  BROWSER_AGENT_IMPLEMENTATION_SUMMARY.md
  backend/.env.example
  backend/src/config/app.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/plan.ts
  backend/src/orchestrator/schemas.ts
  backend/src/tests/browserAgent.test.ts
  backend/src/tools/browserAgent.ts
  backend/src/tools/index.ts
  docs/BROWSER_AGENT_INTEGRATION.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

up
  backend/data/session-store.db
  backend/src/tests/browserAgent.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix: rapid remediation - citation integrity, telemetry alignment, threshold deduplication
  backend/src/azure/lazyRetrieval.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/tests/lazyRetrieval.test.ts
  backend/src/utils/citation-validator.ts
  docs/RAPID_REMEDIATION_PROPOSALS.md
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix', prettier --write

fix: address critical P0/P1 review findings
  backend/src/azure/lazyRetrieval.ts
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/tests/lazyRetrieval.test.ts
  backend/src/utils/citation-validator.ts
  shared/types.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

test: make orchestrator test more resilient to adaptive retrieval
  backend/src/tests/orchestrator.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

up
  .github/workflows/ci.yml
  backend/data/session-store.db
Due: prettier --write

fix: reorder CI workflow steps to install pnpm before use
  .github/workflows/ci.yml
Due: prettier --write

fix: align pnpm version in CI workflow with packageManager field
  .github/workflows/ci.yml
Due: prettier --write

fix: populate web_context metadata when query decomposition executes
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
  backend/src/tests/orchestrator.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix: achieve citation numbering harmony across orchestrator and dispatch
  backend/src/orchestrator/dispatch.ts
  backend/src/orchestrator/index.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

test: fix orchestrator test configuration for production features
  backend/src/tests/orchestrator.integration.test.ts
  backend/src/tests/orchestrator.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

fix: make abortAndFinish synchronous for non-async handleLine
  backend/src/orchestrator/index.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

test: fix query decomposition config isolation in orchestrator tests
  backend/src/tests/orchestrator.test.ts
Due: bash -lc 'cd backend && pnpm lint --fix'

Path conditions:
  bash -lc 'cd backend && pnpm lint --fix': any of: backend/**/*.ts
  bash -lc 'cd frontend && pnpm lint --fix': any of: frontend/**/*.{ts,tsx}
  prettier --write: any of: **/*.{md,json,yml,yaml}
